<div>
<h1>Hello, <%= @user.first_name %>!</h1>
</div>

<div class="user-reports">
  <%= link_to 'User Reports', reports_path %>
</div>

<div>
<%= link_to('Log out', '/logout') %>
</div>

<div class='record-count-form'>
  <%= form_with url: google_sheets_reports_path, local: true, method: :get do |form| %>
    <%= form.label :record_count, 'How many records per school would you like to display?' %>
    <%= form.number_field :record_count, in: 1.0..50.0, step: 1.0 %>
    <%= form.submit 'Generate Report' %>
  <% end %>
</div>
